<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <style>
        TABLE {
            width: 600px;
            border-collapse: collapse;
        }

        TD, TH {
            padding: 3px;
            border: 1px solid black;
        }
    </style>
</head>
<body>

<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Action</th>
    </tr>

    <div th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}"/>
            <td th:text="${user.name}"/>
            <td th:text="${user.age}"/>
            <td th:text="${user.email}"/>
            <td th:text="${user.createdAt}"/>
            <td th:text="${user.updatedAt}"/>
            <td>
                <form th:method="GET" th:action="@{/users/{id}/editUser(id=${user.id})}">
                    <input type="submit" value="Edit" />
                </form>
                <form th:method="DELETE" th:action="@{/users/{id}(id=${user.id})}">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    </div>
</table>

<h2><a href="/users/newUser">Create new user</a></h2>

</body>
</html>